<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- prettier-ignore -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/assets/euid-pavicon.png" />
    <script src="/js/common/common.js" type="module"></script>
    <script src="/js/category.js" type="module"></script>
    <title>✨Enter Euid - 관심 분야 선택</title>
  </head>

  <body class="mx-auto">
    <header>
      <div class="flex items-center justify-between px-3 py-2">
        <span class="nowTime text-sm font-semibold"></span>
        <div class="flex">
          <img src="/assets/icon-celluar.svg" alt="네트워크" class="pl-1" />
          <img src="/assets/icon-lte.svg" alt="LTE" class="p-1" />
          <img src="/assets/icon-battery.svg" alt="배터리 잔량" class="p-1" />
        </div>
      </div>
    </header>

    <div class="relative w-full max-w-3xl mx-auto px-5">
      <div class="flex gap-2 w-[95%] mx-auto mt-6">
        <a href="/index.html" class="flex items-center">
          <img src="/assets/icon-direction-left.svg" alt="이전 페이지로 이동하기" class="inline" />
        </a>
        <div class="flex py-1 border-b-[0.5px] border-solid border-b-contentsSecondary grow mx-2">
          <label for="searchCategory">
            <img src="/assets/icon-search.svg" alt="검색창" class="inline w-[20px] h-[20px]" />
          </label>
          <input
            type="search"
            name="searchCategory"
            id="searchCategory"
            placeholder="분야(이름)로 검색 (ex. 프론트)"
            class="searchBox px-1.5 w-[95%] focus:outline-none"
          />
        </div>
      </div>

      <p
        class="block w-[95%] mx-auto pl-2 text-primary py-2 my-3 rounded-lg text-left text-lg font-bold leading-[100%]"
      >
        관심분야를 선택해주세요!
      </p>

      <ul class="categoryList flex flex-wrap justify-between w-[95%] mx-auto">
        <li
          data-index="1"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">프로그래밍</p>
            <p class="categoryTitle text-lg font-bold leading-base">프론트엔드</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryFrontend">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[20px] h-[20px] appearance-none" id="categoryFrontend" />
          </div>
        </li>
        <li
          data-index="2"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">프로그래밍</p>
            <p class="categoryTitle text-lg font-bold leading-base">백엔드</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryBackend">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[18px] h-[20px] appearance-none" id="categoryBackend" />
          </div>
        </li>
        <li
          data-index="3"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">프로그래밍</p>
            <p class="categoryTitle text-lg font-bold leading-base">리액트</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryReact">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[18px] h-[20px] appearance-none" id="categoryReact" />
          </div>
        </li>
        <li
          data-index="4"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">프로그래밍</p>
            <p class="categoryTitle text-lg font-bold leading-base">풀스택</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryFullstack">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[18px] h-[20px] appearance-none" id="categoryFullstack" />
          </div>
        </li>
        <li
          data-index="5"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">프로그래밍</p>
            <p class="categoryTitle text-lg font-bold leading-base">알고리즘</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryAlgorithm">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[18px] h-[20px] appearance-none" id="categoryAlgorithm" />
          </div>
        </li>
        <li
          data-index="6"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">프로그래밍</p>
            <p class="categoryTitle text-lg font-bold leading-base">기초지식</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryKnowledge">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[18px] h-[20px] appearance-none" id="categoryKnowledge" />
          </div>
        </li>
        <li
          data-index="7"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">디자인</p>
            <p class="categoryTitle text-lg font-bold leading-base">UI디자인</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryUIdesign">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[18px] h-[20px] appearance-none" id="categoryUIdesign" />
          </div>
        </li>
        <li
          data-index="8"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">디자인</p>
            <p class="categoryTitle text-lg font-bold leading-base">UX디자인</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryUXdesign">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[18px] h-[20px] appearance-none" id="categoryUXdesign" />
          </div>
        </li>
        <li
          data-index="9"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">디자인</p>
            <p class="categoryTitle text-lg font-bold leading-base">UI &middot; UX</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryUIUX">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[18px] h-[20px] appearance-none" id="categoryUIUX" />
          </div>
        </li>
        <li
          data-index="10"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">데이터</p>
            <p class="categoryTitle text-lg font-bold leading-base">데이터분석</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryDataAnalyze">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input
              type="checkbox"
              class="categoryCheckbox w-[18px] h-[20px] appearance-none"
              id="categoryDataAnalyze"
            />
          </div>
        </li>
        <li
          data-index="11"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">데이터</p>
            <p class="categoryTitle text-lg font-bold leading-base">통계분석</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryStatistics">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input type="checkbox" class="categoryCheckbox w-[18px] h-[20px] appearance-none" id="categoryStatistics" />
          </div>
        </li>
        <li
          data-index="12"
          class="categoryBox flex flex-row justify-between py-3 px-4 mx-0.5 mb-4 bg-gray-400 rounded-lg w-[48%]"
        >
          <div class="flex flex-col justify-between">
            <p class="text-white text-xs leading-base font-bold">데이터</p>
            <p class="categoryTitle text-lg font-bold leading-base">시각화</p>
          </div>
          <div class="relative flex items-center">
            <label for="categoryVisualization">
              <span class="absolute -translate-y-1/2 bg-icon-plus bg-no-repeat w-[18px] h-[20px]"></span>
            </label>
            <input
              type="checkbox"
              class="categoryCheckbox w-[18px] h-[20px] appearance-none"
              id="categoryVisualization"
            />
          </div>
        </li>
      </ul>

      <div class="w-full mt-6 pb-16">
        <button
          type="submit"
          class="block w-[95%] mx-auto bg-primary text-white py-3 rounded-lg text-center submitCategory"
        >
          이대로 저장할래요
        </button>
      </div>

      <div class="bg-icon-checked hidden"></div>
    </div>
  </body>
</html>
