<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- prettier-ignore -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="icon" href="/assets/euid-pavicon.png" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/chat.js" type="module"></script>
    <title>✨바른 교육 - Enter Euid</title>
  </head>

  <body class="h-screen">
    <div class="h-8 bg-green-400"></div>

    <div class="relative w-full max-w-3xl mx-auto">

      <div class="flex justify-between w-[95%] mx-auto mt-1 mb-4">
        <!-- ! 링크 연결해야함 -->
        <a href="/index.html" class="flex items-center w-[52px]">
          <img src="/assets/icon-direction-left.svg" alt="이전 페이지로 이동하기" class="" />
        </a>
        <div class="flex flex-col text-center leading-base">
          <p class="font-bold text-sm">카페인조아</p>
          <p class="text-mySize10 text-contentsSecondary">보통 3일 내 응답</p>
        </div>
        <div class="flex items-center justify-between w-[52px]">
          <button>
            <img src="/assets/icon-call.svg" alt="통화 연결 버튼" class="w-[22px]" />
          </button>
          <button>
            <img src="/assets/icon-more.svg" alt="통화 연결 버튼" class="w-[22px]" />
          </button>
        </div>
      </div>

      <div class="flex px-6">
        <!-- !사용자 프로필 사진 -->
        <img src="" alt="판매중인 상품 사진" class="w-28 h-28 bg-gray-600 rounded-[4px]" />
        <div class="flex flex-col px-2 text-xs font-bold leading-base">
          <p>판매중
            <span class="px-1 font-medium">intel mac 2017</span>
          </p>
          <p>800,000원</p>
        </div>
      </div>

      <div class="flex items-center gap-2 px-6 py-3 border-solid border-b-contentsSecondary border-b-[0.3px]">
        <a href="/" class="px-3 pb-0.5 border-solid border-contentsSecondary border rounded-md"><span class="inline-block h-4 bg-icon-calender bg-no-repeat pl-6 text-xs">약속 잡기</span></a>
        <a href="/" class="px-3 pb-0.5 border-solid border-contentsSecondary border rounded-md"><span class="inline-block bg-icon-won h-4 bg-no-repeat pl-6 text-xs">송금 하기</span></a>
      </div>

      <div class="px-3">
        <p class="my-2 px-4 py-3 text-xs rounded-xl bg-bluelight-400 text-white leading-base">💸 <span class="font-bold">카페인조아님은 우수판매자에요.</span> 개인정보유도와 명예훼손 내용은 차단될 수 있어요.
          <a href="" class="underline">자세히 보기</a>
        </p>
        <p class="mt-5 mb-1 text-[10px] text-contentsSecondary text-center"><time datetime="2023-07-31">2023년 7월 31일</time></p>
      </div>

      <div class="fixed bottom-14 flex px-3 justify-between w-full max-w-3xl">
        <button type="button" class="w-6 flex items-center">
          <img src="/assets/icon-plus2.svg" alt="" class="w-6" />
        </button>
        <label for="inputMessage" class="sr-only">메세지 입력란</label>
        <div class="flex grow justify-between bg-bluegray-100 mx-2 p-4 py-2 text-sm rounded-3xl gap-3">
          <input type="text" id="inputMessage" class="grow bg-transparent focus:outline-none" placeholder="메세지 보내기"/>
          <button type="button" class="">
            <img src="/assets/icon-smile2.svg" alt="" />
          </button>
        </div>
        <button type="submit" class="w-6 items-center">
          <img src="/assets/icon-send2.svg" alt="" class="w-5" />
        </button>
      </div>

    </div>
  </body>
</html>
