<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../css/reset.css" />
    <link rel="stylesheet" href="./../css/normalize.css" />
    <link rel="stylesheet" href="./../css/main.css" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css"
    />

    <link rel="icon" href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" type="image/xml+svg" />

    <script src="./../js/profile.js" type="module"></script>
    <title>Enter Euid - Profile</title>
  </head>
  <body>
    <h1 class="sr-only">프로필</h1>
    <div class="max-w-md h-screen border-solid border-black border-y border-x">
      <div class="w-auto h-9 bg-green-200"></div>
      <div class="w-auto h-60 pt-10 pl-8 pr-8 pb-5 bg-pink-200">
        <div class="w-auto h-32 pb-1 bg-purple-200">
          <div class="w-24 h-32 bg-red-400 mx-auto">
            <img src="" alt="" class="w-auto h-auto bg-blue-400" />
            <div class="w-auto h-11 bg-green-400"></div>
          </div>
        </div>
        <div class="w-auto h-14 bg-yellow-100"></div>
      </div>
      <div class="w-auto h-14 p-2.5 bg-green-300"></div>
      <div class="w-auto h-16 py-3 px-5 bg-sky-300"></div>
      <div>
        <div class="h-14 pr-5 pl-4 py-4 bg-red-400"></div>
        <div class="h-14 pr-5 pl-4 py-4 bg-orange-400"></div>
        <div class="h-14 pr-5 pl-4 py-4 bg-yellow-400"></div>
      </div>
      <div class="w-auto h-40 pt-2.5 pb-3 pl-2.5 pr-14 bg-green-400"></div>
      <div class="h-14 pr-5 pl-4 py-4 bg-sky-400"></div>
      <div class="h-16 pt-2.5 pb-5 px-2.5 bg-blue-700"></div>
      <div class="h-80 pt-4 pb-20 pl-5 pr-2.5 bg-purple-600"></div>
    </div>
  </body>
</html>
