<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="✨Enter Euid - 프로필" />
    <meta name="author" content="김민성" />
    <meta name="keywords" content="Profile, logout, passion temperature"/>
    <meta name="description" content="개인 프로필 화면입니다"/>
        <!-- prettier-ignore -->
        <link
        rel="stylesheet"
        as="style"
        crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css"
      />
      <link rel="icon" href="/assets/euid-pavicon.png" />
      <link rel="stylesheet" href="/css/reset.css" />
      <link rel="stylesheet" href="/css/normalize.css" />
      <link rel="stylesheet" href="/css/main.css" />

    <script src="/js/profile.js" type="module"></script>
    <script src="/js/common/common.js" type="module"></script>
    <title>Enter Euid - Profile</title>
  </head>
  <body class="m-auto">
    <h1 class="sr-only">프로필</h1>
    <header>
        <div class="flex items-center justify-between px-3 py-2">
          <span class="nowTime text-sm font-semibold"></span>
          <div class="flex">
            <img src="/assets/icon-celluar.svg" alt="네트워크" class="pl-1" />
            <img src="/assets/icon-lte.svg" alt="LTE" class="p-1" />
            <img src="/assets/icon-battery.svg" alt="배터리 잔량" class="p-1" />
          </div>
        </div>
      </header>
    <nav class="bg-white fixed w-full max-w-3xl bottom-0 z-10">
        <ul class="flex justify-between items-center w-full">
          <li>
            <a href="/views/story.html" class="flex flex-col items-center py-1">
              <img src="../assets/icon-home.svg" alt="홈으로 이동" />
              <span class="text-xs inline-block w-16 text-center">홈</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex flex-col items-center px-"
              ><img src="../assets/icon-life.svg" alt="게시판으로 이동" /><span class="text-xs inline-block w-16 text-center"
                >게시판</span
              ></a
            >
          </li>
          <li>
            <a href="/views/device.html" class="flex flex-col items-center py-1"
              ><img src="../assets/icon-map.svg" alt="내근처로 이동" /><span class="text-xs inline-block w-16 text-center"
                >내 근처</span
              ></a
            >
          </li>
          <li>
            <a href="#" class="flex flex-col items-center py-1"
              ><img src="../assets/icon-chat.svg" alt="채팅으로 이동" /><span class="text-xs inline-block w-16 text-center"
                >채팅</span
              ></a
            >
          </li>
          <li>
            <a href="#" class="flex flex-col items-center py-1"
              ><img src="../assets/icon-full-my.svg" alt="마이이듬으로 이동" /><span class="text-xs inline-block w-16 text-center"
                >마이 이듬</span
              ></a
            >
          </li>
        </ul>
      </nav>
    <div class=" max-w-3xl h-auto border-solid ">
      <div class="w-auto h-60 pt-10 pl-8 pr-8 pb-5">
        <div class="w-auto h-32 pb-1">
          <div class="w-24 h-32 mx-auto relative">
            <img src="/assets/profile-img.png" alt="profile image" class="w-auto h-auto mx-auto" />
            <div class="w-4 h-4 bg-white rounded-full absolute top-profileDotTop left-profileDotLeft"></div>
            <img
              src="/assets/icon-pencil.svg"
              alt="pencil imoji"
              class="w-3 h-3 absolute top-profilePencilTop left-profilePencilLeft"
            />
            <div class="w-auto h-11">
              <div class="w-auto h-7 flex">
                <div class="w-mySize18 h-full flex items-center justify-items-center">
                  <p class="text-lg">EUID***</p>
                </div>
                <div class="w-6 h-full flex items-center">
                  <p
                    class="text-mySize10 text-blue-500 w-6 h-4 pl-for4gui border-solid border-blue-500 border-x border-y rounded-lg"
                  >
                    6기
                  </p>
                </div>
              </div>
              <div class="w-9 h-4 mx-auto">
                <p class="text-gray-400 text-mySize10">답변 35</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-auto h-14 flex justify-evenly">
          <div class="flex flex-col justify-center">
            <img src="/assets/icon-chat.svg" alt="Q&A" / class="w-7 h-7 ml-ml6">
            <p class="text-mySize10">나의 Q&A</p>
          </div>
          <div class="flex flex-col justify-center myProfile hover:cursor-pointer" tabindex="1">
            <img src="/assets/icon-my.svg" alt="나의 프로필" / class="w-7 h-7 ml-2">
            <p class="text-mySize10">나의 프로필</p>
          </div>
          <div class="flex flex-col justify-center">
            <img src="/assets/icon-alram-bell.svg" alt="내소식" / class="w-7 h-7 mr-0.5">
            <p class="text-mySize10">내소식</p>
          </div>
        </div>
      </div>
      <div class="w-auto h-20 p-3"> 
        <div class="w-passionTem h-4 flex flex-nowrap ">
            <p class="w-passionTemWord h-4 text-sm">열정온도</p>
            <img src="/assets/icon-information.svg" alt="세부정보" / class="w-4 h-4">
        </div>
        <div>
            <div class="pl-profileDotLeft flex flex-row flex-nowrap justify-between">
                <div class="w-1/3 h-6">
                    <p class="text-mySize10 font-normal text-contentsSecondary w-16 h-3 mx-auto">첫 온도 36.5℃</p>
                    <p class="text-mySize10 font-normal text-contentsSecondary w-2 h-2 mx-auto">▼</p>
                </div>
                <div>
                    <p class="w-11 h-5 text-sm font-semibold text-blue-500 inline-block">41.2℃</p>
                    <div class="inline-block">😄</div>
                </div>
            </div>
            <div class="relative">
                <div class="w-11/12 h-2 mx-auto mt-1.5 rounded-md bg-gray-500 absolute"></div>
                <div class="w-5/12 h-2 mt-1.5 ml-auto rounded-md bg-primary absolute"></div>
            </div>
        </div>
      </div>
      <div class="w-auto h-18 py-4 px-5  flex justify-between">
        <div class="w-mySize103 h-10 flex justify-between">
            <img src="/assets/icon-heart-strignt.svg" alt="받은 좋아요" / class="w-4 h-4 inline-block">
            <div>
                <div class="w-auto h-4 flex justify-between">
                    <p class=" text-mySize10 font-normal">받은 좋아요</p>
                    <p class="text-mySize10 font-semibold">100%</p>
                </div>
                <p class="text-mySize10 text-contentsSecondary font-normal inline-block float-right">11개 중 11명이 만족</p>
            </div>
        </div>
        <div class="w-mySize141 h-10 flex justify-between">
            <img src="/assets/common-icon-chat.svg" alt="채팅 갯수" / class="w-4 h-4">
            <div class="flex flex-col justify-between pl-2">
                <p class="w-12 h-5 text-mySize10 text-black font-normal inline-block">응답률 -%</p>
                <p class="text-mySize10 text-contentsSecondary font-normal inline-block">표시될 만큼 충분히 채팅하지 않았어요.</p>
            </div>
        </div>
      </div>
      <div>
        <div class="w-auto h-14 pr-5 pl-4 py-4 flex justify-between items-center">
            <p class="text-sm font-semibold">활동배지 10개</p>
            <img src="./../assets/icon-direction-right.svg" alt="" / class="w-4 h-4">
        </div>
        <div class="w-auto h-14 pr-5 pl-4 py-4 border-solid border-y-contentsSecondary border-y flex justify-between items-center">
            <p class="text-sm font-semibold">판매상품 3개</p>
            <img src="./../assets/icon-direction-right.svg" alt="" / class="w-4 h-4">
        </div>
        <div class="w-auto h-14 pr-5 pl-4 py-4 flex justify-between items-center">
            <p class="text-sm font-semibold">받은 매너 평가</p>
            <img src="./../assets/icon-direction-right.svg" alt="" / class="w-4 h-4">
        </div>
      </div>
      <div class="w-auto h-40 pt-2.5 pb-3 pl-2.5 pr-14">
        <div class="flex flex-nowrap mb-4">
            <div class="flex">
                <img src="./../assets/icon-people.svg" alt="" / class="h-4 w-4">
                <p class="text-sm font-semibold pl-1.5">10</p>
            </div>
            <p class="bg-tertiary w-36 px-2 py-2 ml-3 text-sm font-normal rounded-r-lg rounded-bl-lg" >시간 약속을 잘 지켜요</p>
        </div>
        <div class="flex flex-nowrap mb-4">
            <div class="flex">
                <img src="./../assets/icon-people.svg" alt="" / class="h-4 w-4">
                <p class="text-sm font-semibold pl-1.5">9</p>
            </div>
            <p class="bg-tertiary w-40 px-2 py-2 ml-5 text-sm font-normal rounded-r-lg rounded-bl-lg" >친절하고 매너가 좋아요</p>
        </div>
        <div class="flex flex-nowrap">
            <div class="flex">
                <img src="./../assets/icon-people.svg" alt="" / class="h-4 w-4">
                <p class="text-sm font-semibold pl-1.5">8</p>
            </div>
            <p class="bg-tertiary w-52 px-2 py-2 ml-5 text-sm font-normal rounded-r-lg rounded-bl-lg" >제가 있는 곳까지 와서 거래했어요</p>
        </div>
      </div>
      <div class="w-auto h-14 py-4align-bottom">
        <div class="w-auto h-14 pr-5 pl-3 py-3 border-solid border-y-contentsSecondary border-y flex justify-between items-center">
            <p class="text-sm font-semibold">받은 거래 후기 1</p>
            <img src="/assets/icon-direction-right.svg" alt="우측 화살표" / class="w-4 h-4">
        </div>
      </div>
      <div class="w-auto h-24 pt-3 pb-5 px-2.5 border-solid border-y-contentsSecondary border-y border-t-0 flex justify-between">
        <div class="flex">
            <div class="w-7 h-7 bg-contentsSecondary rounded-full mr-2"></div>
            <div class="flex flex-col justify-between h-14">
                <p class="text-mySize10 font-semibold">으갸갸갹</p>
                <p class="text-mySize10 font-normal text-contentsSecondary">구매자ㆍ인천광역시 계양구ㆍ4개월 전</p>
                <p class="text-sm font-normal">감사감사 감사합니다</p>
            </div>
        </div>
        <div>
            <img src="./../assets/icon-more.svg" alt="" />
        </div>
      </div>
      <div class="w-auto h-80 pt-4 pb-20 pl-5 pr-3">
        <div>
          <a href="#" class="text-sm font-normal" tabindex="-1">보관 질문</a>
        </div>
        <div class="my-ml18">
          <a href="#" class="text-sm font-normal" tabindex="-1">설정</a>
        </div>
        <div class="my-ml18">
          <a href="#" class="text-sm font-normal" tabindex="-1">지식IN 공식 블로그</a>
        </div>
        <div class="my-ml18">
          <a href="#" class="text-sm font-normal" tabindex="-1">서비스정보</a>
        </div>
        <div class="my-ml18">
          <a href="#" class="text-sm font-normal" tabindex="-1">공지사항</a>
        </div>
        <div id="profileLogout" class=" my-ml18 flex flex-row justify-between hover:cursor-pointer" tabindex="2">
            <p class="text-sm font-normal">로그아웃</p>
            <p class="text-secondary text-sm font-normal logoutNickname">kimchihi</p>
        </div>
      </div>
    </div>
  </body>
</html>
