<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- prettier-ignore -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/assets/euid-pavicon.png" />
    <script src="/js/common/common.js" type="module"></script>
    <script src="/js/sign-up.js" type="module"></script>
    <title>✨Enter Euid - 회원가입</title>
  </head>

  <body class="mx-auto">
    <header>
      <div class="flex items-center justify-between px-3 py-2">
        <span class="nowTime text-sm font-semibold"></span>
        <div class="flex">
          <img src="/assets/icon-celluar.svg" alt="네트워크" class="pl-1" />
          <img src="/assets/icon-lte.svg" alt="LTE" class="p-1" />
          <img src="/assets/icon-battery.svg" alt="배터리 잔량" class="p-1" />
        </div>
      </div>
    </header>
    
    <h1 class="sr-only">엔터 이듬 회원가입</h1>
    <div class="flex gap-2 w-[95%] mx-auto mt-3">
      <a href="/index.html" class="flex items-center">
        <img src="/assets/icon-direction-left.svg" alt="이전 페이지로 이동하기" class="inline" />
      </a>
    </div>

    <div class="max-w-3xl mt-3">
      <div class="w-auto p-3 pl-8 leading-base greetingLine">
        <p class="text-lg font-bold">안녕하세요!</p>
        <p class="text-lg font-bold pb-2">휴대폰 번호로 가입해주세요.</p>
        <p class="text-xs">휴대폰 번호는 안전하게 보관되며 서로에게 공개되지 않아요.</p>
      </div>

      <form>
        <input
          type="tel"
          id="phone"
          name="phone"
          pattern="[0-9](3)-[0-9](4)-[0-9](4)"
          required
          placeholder="휴대폰 번호(-없이 숫자만 입력)"
          class="w-[95%] mx-auto rounded-md py-2 px-4 focus:outline-none border-black border-contentsSecondary border my-3 placeholder:text-sm block"
        />
        <button
          id="registerButton"
          type="submit"
          class="w-[95%] mx-auto rounded-md py-2 border-solid border my-3 text-base text-contentsSecondary is--invalid block cursor-not-allowed"
          disabled
        >
          인증문자 받기
        </button>
      </form>
    </div>
  </body>
</html>
