<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="✨Enter Euid - 검색" />
    <meta name="author" content="방서빈" />
    <meta name="keywords" content="device, device search, swiper" />
    <meta name="description" content="상품 검색 화면입니다" />
    <!-- prettier-ignore -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/storySearch.css" />
    <link rel="icon" href="/assets/euid-pavicon.png" />
    <title>✨Enter Euid - 검색</title>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/common/common.js" type="module"></script>
    <script src="/js/storySearch.js" defer></script>
  </head>

  <body class="m-auto">
    <header class="pt-1 pl-0 pb-2 pr-0 self-stretch gap-4">
      <div class="flex items-center justify-between px-3 py-2 bg-white">
        <span class="nowTime text-sm font-semibold"></span>
        <div class="flex">
          <img src="/assets/icon-celluar.svg" alt="네트워크" class="pl-1" />
          <img src="/assets/icon-lte.svg" alt="LTE" class="p-1" />
          <img src="/assets/icon-battery.svg" alt="배터리 잔량" class="p-1" />
        </div>
      </div>
    </header>

    <div class="flex flex-col max-w-3xl">
      <main>
        <h1 class="sr-only">카테고리 검색</h1>
        <div class="flex gap-2 w-[95%] mx-auto my-6">
          <a href="/views/story.html" class="inline-block flex items-center">
            <img src="/assets/icon-direction-left.svg" alt="이전 페이지로 이동하기" class="inline" />
          </a>
          <div class="flex py-1 grow mx-2">
            <form class="grow bg-gray-100 mr-4 rounded-lg items-end mx-auto" id="searchForm">
              <label for="searchInput" class="sr-only">검색창</label>
              <input
                type="search"
                name="searchInput"
                id="searchInput"
                placeholder="창천동 근처에서 검색"
                class="px-1.5 w-full bg-transparent focus:outline-none focus:placeholder-transparent py-2 px-4 leading-base"
              />
            </form>
          </div>
        </div>
        <div class="flex flex-col justify-center gap-3 w-[90%] mx-auto">
          <p class="text-3 font-semibold leading-150">친구들이 많이 찾고 있어요!</p>
          <div class="swiper-container flex gap-1 w-full whitespace-no-wrap overflow-hidden">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center px-3 py-1.5 rounded-3xl bg-white border border-solid border-contentsSecondary"
              >
                <a href="#">
                  <span class="text-sm leading-base">노트북</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide-holder keyword flex justify-center items-center px-3 py-1.5 w-[7.625rem] rounded-3xl bg-white border border-solid border-contentsSecondary"
              >
                <a href="#">
                  <span class="text-sm leading-base">노트북 거치대</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center px-3 py-1.5 rounded-3xl bg-white border border-solid border-contentsSecondary"
              >
                <a href="#">
                  <span class="text-sm leading-base">키보드</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center px-3 py-1.5 rounded-3xl bg-white border border-solid border-contentsSecondary"
              >
                <a href="#">
                  <span class="text-sm leading-base">마우스</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center px-3 py-1.5 rounded-3xl bg-white border border-solid border-contentsSecondary"
              >
                <a href="#">
                  <span class="text-sm leading-base">헤드셋</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center px-3 py-1.5 rounded-3xl bg-white border border-solid border-contentsSecondary"
              >
                <a href="#">
                  <span class="text-sm leading-base">냉장고</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center px-3 py-1.5 rounded-3xl bg-white border border-solid border-contentsSecondary"
              >
                <a href="#">
                  <span class="text-sm leading-base">에어컨</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center px-3 py-1.5 rounded-3xl bg-white border border-solid border-contentsSecondary"
              >
                <a href="#">
                  <span class="text-sm leading-base">테니스</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="postList"></div>
      </main>
    </div>
  </body>
</html>
