<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="✨Enter Euid - 검색" />
    <meta name="author" content="방서빈" />
    <meta name="keywords" content="device, device search, swiper" />
    <meta name="description" content="상품 검색 화면입니다" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/storySearch.css" />
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="icon" href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" type="image/xml+svg" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>✨Enter Euid - 검색</title>
    <script defer src="/js/swiperSearchSlide.js"></script>
    <script defer src="/js/storySearchTabBackEvent.js"></script>
    <script defer src="/js/storySearchKeyword.js"></script>
    <script src="/js/common/common.js" type="module"></script>
    <script src="/js/storySearch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </head>

  <body class="m-auto">
    <header class="pt-1 pl-0 pb-2 pr-0 self-stretch gap-4">
      <div class="flex items-center justify-between px-3 py-2 bg-white">
        <span class="nowTime text-sm font-semibold"></span>
        <div class="flex">
          <img src="/assets/icon-celluar.svg" alt="네트워크" class="pl-1" />
          <img src="/assets/icon-lte.svg" alt="LTE" class="p-1" />
          <img src="/assets/icon-battery.svg" alt="배터리 잔량" class="p-1" />
        </div>
      </div>
    </header>
    <div class="flex flex-col max-w-3xl h-screen">
      <main>
        <h1 class="sr-only">카테고리 검색</h1>
        <div class="flex pt-1 pl-0 pb-2 pr-0 self-stretch gap-4">
          <div class="flex items-center">
            <a href="/views/story.html">
              <img tabindex="0" id="back" class="cursor-pointer" alt="뒤로가기" src="/assets/icons/Icon/backBtn.svg" />
            </a>
          </div>
          <div class="w-3x1">
            <form id="searchForm">
              <input
                type="text"
                name="searchQuery"
                class="pt-4 pb-4 pr-[32.625rem] pl-2.5 text-base rounded-lg bg-gray-300"
                placeholder="창천동 근처에서 검색"
              />
            </form>
          </div>
        </div>
        <div class="flex flex-col justify-center pt-2 pr-0 pb-[3.5rem] pl-3 gap-3">
          <p class="text-3 font-semibold leading-150">친구들이 많이 찾고 있어요!</p>
          <div class="swiper-container flex gap-1 w-full whitespace-no-wrap overflow-auto">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center pt-[0.3rem] pb-2 pl-[1.5rem] pr-[0.375rem] w-[5.25rem] h-[2.2125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiary"
              >
                <a href="#">
                  <span class="text-[0.7564375rem] leading-[160%]">노트북</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide-holder keyword flex justify-center items-center pt-[0.3rem] pb-2 pl-[1.5rem] pr-[0.375rem] w-[7.625rem] h-[2.2125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiary overflow-x-scroll"
              >
                <a href="#">
                  <span class="text-[0.7564375rem] leading-[160%]">노트북 거치대 </span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center pt-[0.3rem] pb-2 pl-[1.5rem] pr-[0.375rem] w-[5.25rem] h-[2.2125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiar"
              >
                <a href="#">
                  <span class="text-[0.7564375rem] leading-[160%]">키보드</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center pt-[0.3rem] pb-2 pl-[1.5rem] pr-[0.375rem] w-[5.25rem] h-[2.2125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiar"
              >
                <a href="#">
                  <span class="text-[0.7564375rem] leading-[160%]">마우스</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center pt-[0.3rem] pb-2 pl-[1.5rem] pr-[0.375rem] w-[5.25rem] h-[2.2125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiar"
              >
                <a href="#">
                  <span class="text-[0.7564375rem] leading-[160%]">헤드셋</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center pt-[0.3rem] pb-2 pl-[1.5rem] pr-[0.375rem] w-[5.25rem] h-[2.2125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiar"
              >
                <a href="#">
                  <span class="text-[0.7564375rem] leading-[160%]">냉장고</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center pt-[0.3rem] pb-2 pl-[1.5rem] pr-[0.375rem] w-[5.25rem] h-[2.2125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiar"
              >
                <a href="#">
                  <span class="text-[0.7564375rem] leading-[160%]">에어컨</span>
                </a>
              </div>
              <div
                class="swiper-slide swiper-custom-slide keyword flex justify-center items-center pt-[0.3rem] pb-2 pl-[1.5rem] pr-[0.375rem] w-[5.25rem] h-[2.2125rem] rounded-[1.25rem] bg-white border border-solid border-var-contents-content-tertiar"
              >
                <a href="#">
                  <span class="text-[0.7564375rem] leading-[160%]">테니스</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="postList"></div>
      </main>
    </div>
  </body>
</html>
